:root{
    --font-body: "Open Sans", sans-serif;
    --font-heading: "Poppins", sans-serif;
    --mobileWidth: 375px;
    --desktopWidth: 1440px;
    --violet: #674baf;
    --softMagenta: #e882e8;
    --white: #ffffff;
    }