.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*VARIABLES*/
:root{
--font-body: "Open Sans", sans-serif;
--font-heading: "Poppins", sans-serif;
--mobileWidth: 375px;
--desktopWidth: 1440px;
--violet: #674baf;
--softMagenta: #e882e8;
--white: #ffffff
}

/*STANDARD STYLING*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content{
    border: 2px solid red;
    padding: 2rem 2rem;
}

body{
   font-family: var(--font-body); 
   color: var(--white);
   background-color: var(--violet);
   background-image: url(./images/bg-mobile.svg);
   background-repeat: no-repeat;     
}

header{
    font-family: var(--font-heading);
    display: flex;
}

    
